<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personal.xingji.xingji">
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".XingJiApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".runtimeanntation.RunTimeAnnotationActivity"
            android:label="@string/title_activity_run_time_annotation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".liziwenzi.LiziwenziActivity"
            android:label="@string/title_activity_liziwenzi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bangbangtang.Bangbangtang"
            android:label="@string/title_activity_bangbangtang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".watertext.WaterTextActivity" />
        <activity android:name=".tianmao.TianMaoMainActivity"></activity>
    </application>

</manifest>